NodeRed/flows.json
[{"id":"804d3fda.734b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47a10650.efba58","type":"inject","z":"804d3fda.734b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":20,"wires":[[]]},{"id":"e1eca62a.116878","type":"debug","z":"804d3fda.734b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"aa8fd5b0.0fcb08","type":"function","z":"804d3fda.734b4","name":"","func":"msg.payload = msg.payload.GAS_Level\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["2eab7641.0d61ea","34b33c59.baee14"]]},{"id":"2eab7641.0d61ea","type":"rbe","z":"804d3fda.734b4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":470,"y":100,"wires":[["b82beff8.4d9e9"]]},{"id":"b82beff8.4d9e9","type":"switch","z":"804d3fda.734b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"55","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":160,"wires":[["e95e465.46224b8"]]},{"id":"e95e465.46224b8","type":"http request","z":"804d3fda.734b4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gB7v3jtRDW1Cs8rpYISVLyO9bcP0NemiodEGKnhzuQlTH2Aq46OSu9NbF80Z1sUapJTCKlHQcvoABYkx&message=gas is leaking , Be careful &language=english&route=q&numbers=6304842282,9542502252,8309515062","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":240,"wires":[["95c221fa.4353d"]]},{"id":"95c221fa.4353d","type":"debug","z":"804d3fda.734b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"34b33c59.baee14","type":"ui_gauge","z":"804d3fda.734b4","name":"","group":"819a2037.93a59","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Level","label":"units","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":220,"wires":[]},{"id":"b6090f00.572e2","type":"ibmiot in","z":"804d3fda.734b4","authentication":"apiKey","apiKey":"73f17298.f5630c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"trfipt","applicationId":"","deviceType":"gas_alert_sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":80,"wires":[["e1eca62a.116878","aa8fd5b0.0fcb08"]]},{"id":"819a2037.93a59","type":"ui_group","name":"Default","tab":"5e31c289.aeacbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"73f17298.f5630c","type":"ibmiot","name":"iot device","keepalive":"60","serverName":"trfjpt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5e31c289.aeacbc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]